#context-sidebar {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  border-right: 1vmin solid var(--grid-border-color);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#context-sidebar.open {
  width: 40vmin;
}

@media (min-aspect-ratio: 3/2) {
  #context-sidebar.open {
    width: 30vmin;
  }
}

.context-sidebar-toggle {
  position: absolute;
  top: 2vmin;
  right: 2vmin;
  width: 7vmin;
  height: 7vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vmin;
  color: var(--player-one-contrast-color);
  background-color: var(--player-one-color);
  box-shadow: 0 0 0 0.5vmin var(--player-one-contrast-color) inset;
}

.match-view-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1vmin;
}
