.cell {
  border: 1px solid #555;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.cell.highlighted {
  background: #999;
}

.cell.red {
  background: #ff000030;
}

.cell.red.highlighted {
  background: #ff000060;
}

.cell.blue {
  background: #0000ff30;
}

.cell.blue.highlighted {
  background: #0000ff60;
}

.piece.red {
  color: #f00;
}

.piece.blue {
  color: #00f;
}
