.cell {
  border: 1px solid #555;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.cell.active {
  background: #999;
}

.home-red {
  background: #ff000030;
}

.home-red.active {
  background: #ff000060;
}

.home-blue {
  background: #0000ff30;
}

.home-blue.active {
  background: #0000ff60;
}

.piece-red {
  color: #f00;
}

.piece-blue {
  color: #00f;
}
