.cell {
  border: 1px solid #555;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.active {
  background: #999;
}

.home-red {
  background: #ff000050;
}

.home-blue {
  background: #0000ff50;
}

.piece-red {
  color: #f00;
}

.piece-blue {
  color: #00f;
}
