/*
 * =============================================================================
 * Global
 * =============================================================================
 */

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap");

:root {
  --player-one-color: white;
  --player-one-contrast-color: black;
  --player-two-color: black;
  --player-two-contrast-color: white;
  --grid-background-color: white;
  --grid-home-color: lightgray;
  --grid-active-color: gray;
  --grid-border-color: gray;
}

body {
  font-family: "Baloo 2", cursive;
  text-align: center;
  background-color: lightgray;
}

.thinktank {
  font-family: "Baloo 2", cursive;
  font-size: 5vmin;
}

/*
 * =============================================================================
 * Game Controller
 * =============================================================================
 */

.game-controller {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.info-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0 auto;
}

.grid-panel {
  margin: 0 0 1vmin 0;
}

.control-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1vmin;
}

@media (min-width: 1200px) {
  .game-controller {
    flex-flow: row nowrap;
  }

  .info-panel {
    flex-flow: column nowrap;
    justify-content: start;
    width: auto;
    margin: 0;
  }

  .grid-panel {
    margin: 2vmin;
  }

  .control-panel {
    flex-flow: column nowrap;
  }
}

/*
 * =============================================================================
 * Tokens
 * =============================================================================
 */

.token {
  width: 4.4vmin;
  height: 4.4vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vmin;
}

@media (min-width: 1200px) {
  .token {
    width: 5vmin;
    height: 5vmin;
    font-size: 2vmin;
  }
}

.token.player-one {
  color: var(--player-one-contrast-color);
  background-color: var(--player-one-color);
  box-shadow: 0 0 0 0.5vmin var(--player-one-contrast-color) inset;
}

.token.player-two {
  color: var(--player-two-contrast-color);
  background-color: var(--player-two-color);
  box-shadow: 0 0 0 0.5vmin var(--player-two-contrast-color) inset;
}

/*
 * =============================================================================
 * Grid
 * =============================================================================
 */

.grid {
  margin: 0 auto;
  border: 1vmin solid var(--grid-border-color);
  border-radius: 1vmin;
  border-spacing: 0;
  background-color: var(--grid-background-color);
}

.grid-cell {
  padding: 0;
  border-bottom: 0;
  box-shadow: 0 0 0 0.1vmin var(--grid-border-color) inset;
}

.grid-cell.home {
  background-color: var(--grid-home-color);
}

.grid-cell.active {
  background-color: var(--grid-active-color);
}

/*
 * =============================================================================
 * Token Selector
 * =============================================================================
 */

.token-selector {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1vmin;
}

@media (min-width: 1200px) {
  .token-selector {
    flex-flow: column nowrap;
  }
}

button.token {
  padding: 0;
}

button.token:disabled {
  opacity: 30%;
}

button.token.submit {
  color: white;
  background-color: green;
}

button.token.undo {
  color: white;
  background-color: red;
}

button.token.help {
  color: white;
  background-color: gray;
}
