/*
 * =============================================================================
 * Global
 * =============================================================================
 */

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap");

:root {
  --background-color: lightgray;
  --player-one-color: white;
  --player-one-contrast-color: black;
  --player-two-color: black;
  --player-two-contrast-color: white;
  --grid-background-color: white;
  --grid-home-color: lightgray;
  --grid-highlighted-color: plum;
  --grid-border-color: gray;
}

body {
  text-align: center;
  background-color: var(--background-color);
}

.title {
  font-family: "Baloo 2", cursive;
  font-size: 5vmin;
}

/*
 * =============================================================================
 * Match View
 *
 * On mobile, we render the match info in a collapsible left sidebar, the grid
 * in the center, and the token selector below the grid.
 *
 * On desktop, we render the match info on the left, the grid in the center,
 * and the token selector on the right.
 * =============================================================================
 */

#match-view-sidebar {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  border-right: 1vmin solid var(--grid-border-color);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#match-view-sidebar.open {
  width: 33%;
}

.match-view-sidebar-toggle {
  position: absolute;
  top: 2vmin;
  right: 2vmin;
  width: 7vmin;
  height: 7vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vmin;
  color: var(--player-one-contrast-color);
  background-color: var(--player-one-color);
  box-shadow: 0 0 0 0.5vmin var(--player-one-contrast-color) inset;
}

.match-view-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.info-panel {
  display: none;
}

.grid-panel {
  margin: 2vmin 0;
}

.selector-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1vmin;
}

/* Desktop or larger */
@media (min-width: 1200px) {
  #match-view-sidebar,
  .match-view-sidebar-toggle {
    display: none;
  }

  .match-view-content {
    flex-flow: row nowrap;
  }

  .info-panel {
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    margin: 0;
  }

  .grid-panel {
    margin: 2vmin;
  }

  .selector-panel {
    flex-flow: column nowrap;
  }
}

/*
 * =============================================================================
 * Token
 * =============================================================================
 */

.token {
  /* Slightly smaller on mobile because token selector is below grid */
  width: 4.7vmin;
  height: 4.7vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vmin;
}

/* Desktop or larger */
@media (min-width: 1200px) {
  .token {
    width: 5vmin;
    height: 5vmin;
  }
}

.token.player-one {
  color: var(--player-one-contrast-color);
  background-color: var(--player-one-color);
  box-shadow: 0 0 0 0.5vmin var(--player-one-contrast-color) inset;
}

.token.player-two {
  color: var(--player-two-contrast-color);
  background-color: var(--player-two-color);
  box-shadow: 0 0 0 0.5vmin var(--player-two-contrast-color) inset;
}

/*
 * =============================================================================
 * Grid
 * =============================================================================
 */

.grid {
  margin: 0 auto;
  border: 1vmin solid var(--grid-border-color);
  border-radius: 1vmin;
  border-spacing: 0;
  background-color: var(--grid-background-color);
}

.grid-cell {
  padding: 0;
  border-bottom: 0;
  box-shadow: 0 0 0 0.1vmin var(--grid-border-color) inset;
}

.grid-cell.home {
  background-color: var(--grid-home-color);
}

.grid-cell.highlighted {
  background-color: var(--grid-highlighted-color);
}

.grid-cell.highlighted .token.player-one,
.grid-cell.highlighted .token.player-two {
  color: var(--grid-highlighted-color);
}

/*
 * =============================================================================
 * Token Selector
 * =============================================================================
 */

.token-selector {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1vmin;
}

/* Desktop or larger */
@media (min-width: 1200px) {
  .token-selector {
    flex-flow: column nowrap;
  }
}

button.token {
  padding: 0;
}

button.token:disabled {
  opacity: 30%;
}

button.token.submit {
  color: white;
  background-color: green;
}

button.token.undo {
  color: white;
  background-color: red;
}
