.token-selector {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1vmin;
}

button.token:disabled {
  opacity: 0.3;
}

button.token.player-one:hover:not([disabled]),
button.token.player-two:hover:not([disabled]),
button.token.selected:not([disabled]) {
  background-color: var(--highlight-color);
}

button.token.submit {
  color: white;
  background-color: var(--submit-color);
}

button.token.undo {
  color: white;
  background-color: var(--undo-color);
}
