.context {
  display: flex;
  flex-flow: column nowrap;
  gap: 1vmin;
}

.context-title {
  font-size: max(5vmin, 2em);
}

.context-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}
